venv/
__pycache__/
*.pyc

.env

logs/

models/*.pkl
models/*.joblib

data/processed/

# Ignore local datasets
data/raw/*.csv
!data/raw/.gitkeep

# Ignore local database
users.db
data/users.db

.ipynb_checkpoints/

.DS_Store
Thumbs.db